body {
  font-family: helvetica;
  font-size: 14px;
  background-color: #CAE4DB;
  color: #7A9D96;
}
/* newly added text properties */
p {
  font-size: 1em;
  line-height: 1.5em;
  padding-bottom: 20px;
}

h1 {
  font-size: 2.5em;
  text-transform: uppercase;
  color: #00303F;
  padding-top: 10px;
  line-height: 1.8em;
}

h3 {
  font-size: 1.5em;
  color: #DCAE1D;
  line-height: 1.7em;
}
/* remove underline from links */
a:link {
  text-decoration: none;
  color: #00303F;
}
/* mouse over link */
a:hover, a:active {
  font-weight: bold;
}
/* visited link stays yellow */
a:visited {
  color: #DCAE1D;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
